div {
    background-color: aqua;
    padding: 50px;
}

form {
    background-color: cornflowerblue;
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
}